<div class="card mt-2">
    <div class="card-header bg-dark">
        <div class="card-title text-white">
            <i class="far fa-image"></i> Sube una imagen
        </div>
    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inputGroupFileAddon" required>
                        <label for="inputGroupFile" class="custom-file-label">Escoge tu archivo</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="título de la imagen" required>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" rows="2" placeholder="descripción de la imagen" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> Sube la imagen
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3 class="fa fa-images">Subidas recientes</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>