<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="fa fa-cart-bar"></i>Estadísticas</h5>
    </div>
    <div class="card-body">
        <p><i class="fa fa-images"></i> Imágenes: {{sidebar.stats.totalimages}}</p>
        <p><i class="fa fa-comments"></i> Comentarios: {{sidebar.stats.totalcomments}}</p>
        <p><i class="fa fa-eye"></i> Vistas: {{sidebar.stats.totalviews}}</p>
        <p><i class="fa fa-heart"></i> Me gustas: {{sidebar.stats.totallikes}}</p>
    </div>
</div>